head
  script(src='https://use.typekit.net/elg8elw.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}
  title #{ title } 
  meta(charset='utf-16')
  meta(http-equiv="X-UA-Compatible" content="IE-Edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css" rel="stylesheet")

  link(href="../css/fonts.css" type="text/css" rel="stylesheet")
  style(type="text/css").
    body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
