@import "mixins";
@import "variables";
@import "lightbox";

*,:after,:before {
	box-sizing:border-box;
	background-color:inherit;
	color:inherit;
	margin:0;
	padding:0;
}

body {
	font-family: 'kansasnew', serif;;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	line-height:1.65;
	font-size: 1.125rem;
	color: rgb(22, 23, 26);
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	@include phone {
	font-size: 1rem;
	}
}


nav ul {
    border-right: 1px solid #edf2f7;
}

a {
    color: #000;
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

pre {
	margin: .5rem 0;
	padding: .5rem;
}

.post p {
	p + p {
		text-indent: 1.5rem;
		}
	  p:last-of-type {
		text-indent: 0;
		margin-bottom: 2rem;
	  }
	margin-bottom: .75rem;
	mark {
		 background-color: lighten($minion, 20%);
		 }
	 cite {
		 font-style: italic;
		 }
		 audio {
    z-index: -1;
    padding: 2rem 0;

  }
}
/* HIGHLIGHT SPAN */

.highlight {
	background: lighten($minion, 15%);
}

figure {
    grid-column: 1;
    margin: 1.5rem 0;

    img {
    max-width: 100%;
    border-radius: 2px;
    -webkit-box-shadow: 0px 8px 32px -8px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 8px 32px -8px rgba(0,0,0,0.24);
    box-shadow: 0px 8px 32px -8px rgba(0,0,0,0.24);
    }
    figcaption {
		font-family: $sans;
      margin-top: .75rem;
      font-size: 0.75rem;
      font-weight: 500;
    }
    figcaption:before {
      // SQUARE
      // content: '  \25FC';
      // GRID
       content: '  \229E';
      // TRIANGLE
       // content: '  \25B2';
	   @include Color;
	   margin-right: .25rem;
    }
  }
.image-gallery {

	margin: 1.5rem 0;
}
dl {
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.5;
	font-size: 1rem;
    @include phone {
    font-size: 1rem;
    }
    	dt {
    	margin-top: .5rem;
    	margin-bottom: .5rem;
    	}
    	dt:before {
      content: "—";
    	}
    	dd {
		font-family: $sans;
		font-size: .875rem;
      margin-left: 1rem;
      color: rgba($black, 0.7);
    	}
  	}


		a {
	       color: $black;

				 font-weight: 400;
				 font-style: normal;
	       text-decoration: none;
	       border-bottom: 1px solid lighten(black, 70%);

	       a:visited {
	         color: $black;
	         text-decoration: none;
	         border-bottom: 1px solid $black;
	         }

	       &:hover {
	         @include Color;
	         @include BorderColor;
	         }

	       &:active {
	         color: $black;
	         border-bottom: 1px solid $black;
	         }
	     }

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}

.meta {
	font-family: $sans;
	margin: 2rem 0;
	a {
		border-bottom: 0;
	}
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 6rem;
}
.banner {
	font-family: $sans;
	a {
		border-bottom: 0;
		a:visited {
			color: $black;
			text-decoration: none;
			border-bottom: 1px solid $black;
			}
		&:hover {
			color: $black;
			}
		&:active {
			color: $black;
			}
	}

}
code,pre {
	background: rgb(236, 237, 238);
}

code {
	padding: .1rem;
}

pre code {
	border: none;
}

pre {
	padding: 1rem;
	overflow-x: auto;
}

img {
	max-width:100%;
}

hr {
	background: #000;
    height: .5px;
    border: 0;
}

header {
	flex-basis:10rem;
	flex-grow:1;
	position:relative;
}

header a {
	text-decoration: none;
}

header li {
	margin-bottom: .2rem;
	text-align: right;
	margin-right: 2rem;
}

header a.active {
	font-weight: 500;
}

header,section {
	padding:1rem;
}

blockquote {
	border-left: 1px solid;
	@include BorderColor;
	padding-left: 1rem;
	// margin: 0;
	margin-bottom: 1.5rem;
	p, a {
	font-family: $sans, sans-serif;
	font-weight: 400;
	  font-size: 1.125rem;
	  line-height: 1.33;
	  @include Color;
	  letter-spacing: -0.24px;
	  font-weight: normal;
	em {
		font-style: italic;
	  color: black;
		}
	  a {
		@include Color;
	  }
	  }
	  p:last-of-type {
		  // padding-bottom: 1rem;
	  }
	}

h1,h2,h3,h4,h5 {
	font-weight: 600;
}
h1 {
	font-family: $sans;
	font-size: 1.5rem;
	letter-spacing: -0.16px;
	line-height: 1.4;
		margin-bottom: 2rem;
		@include phone {
		 font-size: 1.125rem;
		 line-height: 1.33;
		 }
}
h2 {
	font-family: $sans;
	font-weight: 500;
	font-size: 1.125rem;
	margin-top: 1rem;
	@include phone  {
    font-size: 1rem;
    line-height: 1.5;
    margin: 2rem 0 1rem;
}
}
h3 {
	font-family: $sans;
	font-size: 1.125rem;
	font-weight: 400;
	margin-top: 1rem;
}
h4 {
	font-variant: small-caps;
}
section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: 500;
	text-transform: uppercase;
	font-size: .875rem;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture, .project picture {
	margin-bottom: 0.5rem;
}

.posts ul,header ul {
	list-style:none;
}
.posts 	a {
		font-family: $sans;
		border-bottom: 0;
		a:visited {
			color: $black;
			text-decoration: none;
			border-bottom: 1px solid $black;
			}
		&:hover {
			color: $black;
			}
		&:active {
			color: $black;
			}
	}

.posts li {
	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-bottom: .5rem;

}

.posts li a, .posts li div, .projects li a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;
	border-bottom: 0;
}

.posts li time, .projects li time {
	font-family: $sans;
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

.post ul, .project ul, .post ol  {
	list-style-position: inside;
}

main {
	display:flex;
	flex-wrap:wrap;
	max-width:60rem;
	margin:4rem auto;
	padding:1rem;
	@include phone {
		margin:0 auto;
	}
}
// Sökresultat
#results-container {
	font-family: $sans;
	li {
			margin-bottom: .5rem;
	}
li a {
			border-bottom: 0;
	a:visited {
		color: $black;
		text-decoration: none;
		border-bottom: 0;
		}
	&:hover {
		color: $black;
		}
	&:active {
		color: $black;
		}
}
}
.footnotes {
  padding: 1rem 0;
// // Footnote list
    ol {
      padding: 0;
      font-size: .75rem;
      li {
        display: list-item;
        color: $grey;
        a {
          color: $grey;
        }
        p {
          font-size: .75rem;
          margin: 1rem 0;
          img {
          max-width: 10rem;
          border-radius: 50%;
          margin: 0;
            }
          }
          p:target {
            color: red;
          }
        }
        li:target {
          color: $black;
          a {
            color: $black;
            border-bottom:1px solid  $divider;
          }
        }

      }
    }

@media screen and (max-width: 45rem ) {
header li {
    display: inline;
	margin-right: 1rem;
	margin-bottom: 0;
}
.logo {
	font-weight: 500;
	padding-bottom: 1rem;
}
header ul {
	border-bottom: 1px solid #edf2f7;
	padding-bottom: 2rem;
}
nav ul {
    border-right: 0px;
}

.photos ul {
	margin-top: 0.5rem;
}

}

section {
	flex-basis:0;
	flex-grow:999;
	min-width:70%;
	display:flex;
	flex-direction:column;

}

// LIGHTBOX

.gallery {
	a {
		border-bottom: 0;
a:visited {
	color: $black;
	text-decoration: none;
	border-bottom: 0;
	}
&:hover {
	color: $black;
	}
&:active {
	color: $black;
	}
}
}