@mixin phone {
  @media (max-width: 599px) { @content; }
}
@mixin tablet {
  @media (min-width: 600px) { @content; }
}
@mixin desktop {
  @media (min-width: 1024px) { @content; }
}

@mixin Background {
  @include phone {
    background: $barney;
    }
  @include tablet {
    background: $tomato;
    }
  @include desktop {
    background: $panam;
    }
}


@mixin BackgroundColor {
  @include phone {
    background-color: $barney;
    }
  @include tablet {
    background-color: $tomato;
    }
  @include desktop {
    background-color: $panam;
    }
}

@mixin Color {
  @include phone {
    color: $barney;
    }
  @include tablet {
    color: $tomato;
    }
  @include desktop {
    color: $panam;
    }
}

@mixin BorderColor {
  @include phone {
    border-color: $barney;
    }
  @include tablet {
    border-color: $tomato;
    }
  @include desktop {
    border-color: $panam;
    }
}

