@import url("//hello.myfonts.net/count/2ddb17");

@font-face {font-family: 'NeueHaasUnicaPro-Light';src: url('../webfonts/NeueHaasUnica/2DDB17_8_0.eot');src: url('../webfonts/NeueHaasUnica/2DDB17_8_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/NeueHaasUnica/2DDB17_8_0.woff2') format('woff2'),url('../webfonts/NeueHaasUnica/2DDB17_8_0.woff') format('woff'),url('../webfonts/NeueHaasUnica/2DDB17_8_0.ttf') format('truetype');}


@font-face {font-family: 'NeueHaasUnicaPro-LightIt';src: url('../webfonts/NeueHaasUnica/2DDB17_9_0.eot');src: url('../webfonts/NeueHaasUnica/2DDB17_9_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/NeueHaasUnica/2DDB17_9_0.woff2') format('woff2'),url('../webfonts/2DDB17_9_0.woff') format('woff'),url('../webfonts/NeueHaasUnica/2DDB17_9_0.ttf') format('truetype');}

@font-face {
  font-family: 'NeueHaasUnicaPro-Italic';
  src: url('../webfonts/NeueHaasUnica/2DDB17_7_0.eot');
  src: url('../webfonts/NeueHaasUnica/2DDB17_7_0.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/NeueHaasUnica/2DDB17_7_0.woff2') format('woff2'),
  url('../webfonts/NeueHaasUnica/2DDB17_7_0.woff') format('woff'),
  url('../webfonts/NeueHaasUnica/2DDB17_7_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NeueHaasUnicaPro-Regular';
  src: url('../webfonts/NeueHaasUnica/2DDB17_C_0.eot');
  src: url('../webfonts/NeueHaasUnica/2DDB17_C_0.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/NeueHaasUnica/2DDB17_C_0.woff2') format('woff2'),
  url('../webfonts/NeueHaasUnica/2DDB17_C_0.woff') format('woff'),
  url('../webfonts/NeueHaasUnica/2DDB17_C_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NeueHaasUnicaPro-Medium';
  src: url('../webfonts/NeueHaasUnica/2DDB17_A_0.eot');
  src: url('../webfonts/NeueHaasUnica/2DDB17_A_0.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/NeueHaasUnica/2DDB17_A_0.woff2') format('woff2'),
  url('../webfonts/NeueHaasUnica/2DDB17_A_0.woff') format('woff'),
  url('../webfonts/NeueHaasUnica/2DDB17_A_0.ttf') format('truetype');
}


@font-face {
  font-family: 'SuisseWorks-Regular';
  src: url('../webfonts/suisse/SuisseWorks-Regular.eot');
  src: url('../webfonts/suisse/SuisseWorks-Regular.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/suisse/SuisseWorks-Regular.woff') format('woff'),
  url('../webfonts/suisse/SuisseWorks-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SuisseWorks-RegularItalic';
  src: url('../webfonts/suisse/SuisseWorks-RegularItalic.eot');
  src: url('../webfonts/suisse/SuisseWorks-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/suisse/SuisseWorks-RegularItalic.woff') format('woff'),
  url('../webfonts/suisse/SuisseWorks-RegularItalic.ttf') format('truetype');
}

 @font-face {
  font-family: 'LyonTextWeb-Regular';
  src: url('../webfonts/LyonTextWeb/LyonTextWeb-Regular.eot');
  src: url('../webfonts/LyonTextWeb/LyonTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/LyonTextWeb/LyonTextWeb-Regular') format('woff'),
  url('../webfonts/LyonTextWeb/LyonTextWeb-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LyonTextWeb-RegularItalic';
  src: url('../webfonts/LyonTextWeb/LyonTextWeb-RegularItalic.eot');
  src: url('../webfonts/LyonTextWeb/LyonTextWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/LyonTextWeb/LyonTextWeb-RegularItalic.woff') format('woff'),
  url('../webfonts/LyonTextWeb/LyonTextWeb-RegularItalic.ttf') format('truetype');
}
