

| Tutti i colori dell'Italia är en bioklubb som drivs av 
a.white.link.hover-yellow(href="http://twitter.com/signorwardh") Peter Jilmstad 
| och 
a.white.link.hover-red(href="http://twitter.com/wiking") Jesper Wiking 
| med fokus på italiensk genrefilm, huserad i Underbaren på 
a.white.link.hover-green(href="http://bar-bro.se/#underbarbro") Bistro Barbro 
| i Hornstull, Stockholm. Sedan 2014 har vi haft följande visningar:
