head
  title #{ title } 
  meta(http-equiv="X-UA-Compatible" content="IE-Edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css" rel="stylesheet")
