@font-face {
    font-family: 'Suisse Works';
    src: url('SuisseWorks-RegularItalic.eot');
    src: url('SuisseWorks-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('SuisseWorks-RegularItalic.woff2') format('woff2'),
        url('SuisseWorks-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Works';
    src: url('SuisseWorks-Regular.eot');
    src: url('SuisseWorks-Regular.eot?#iefix') format('embedded-opentype'),
        url('SuisseWorks-Regular.woff2') format('woff2'),
        url('SuisseWorks-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

